.meta-mask {
  text-align: center;
  color: white;
  padding: 50px;
  padding-left: 100px;
}

.connect-status {
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
